body {
    margin: 0;
    padding: 5px;
    font-family: 'Rubik', Arial, sans-serif;
    accent-color: rgb(255, 94, 0);
    background-image: linear-gradient(#d3dcf8, #7b97ea);
    min-height: 100vh
}

.opening, .result, .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playButton, .submitButton, .playAgain {
    background-color: rgb(255, 127, 80);
    width: 200px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.playButton:active, .submitButton:active, .playAgain:active {
    background-color: #0e2058;
    transition: 0.2s;
}

.submitButton:disabled {
    opacity: 0.5;
}

.headline {
    font-size: 60px;
    background-image: linear-gradient(45deg, rgb(255, 127, 80), rgb(255, 68, 51));
    background-size: 100%;
    background-clip: inherit;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.questionCard {
    margin: 30px;
    box-shadow: 5px 5px 10px 1px #888888;
    border: none;
    border-radius: 15px;
    padding: 20px; 
    color: #0e2058;
    background-color: white;
}

.questionCard > h4 {
    background-image: linear-gradient(45deg, rgb(255, 127, 80), rgb(255, 68, 51));
    background-size: 100%;
    background-clip: inherit;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.answers {
    display: inline-block;
  }

  label {
    margin-right: 30px;
    color: #0e2058;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 8px;
    margin-top: 8px;
  }

  .result > h1, p {
    background-image: linear-gradient(45deg, rgb(255, 127, 80), rgb(255, 68, 51));
    background-size: 100%;
    background-clip: inherit;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

  .result > h1 {
    font-size: 60px;
  }

  .result > p {
    font-size: 30px;
    margin-top: 10px;
  }

  .loading > h1 {
    font-size: 60px;
    margin-bottom: 0px;
    color: rgb(255, 127, 80);
  }